html {
	background: url("./images/mount_timp.jpg");
}

h1 {
	text-align: center;
}

h2 {
	font-family: Poppins;
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 0.3px;
	text-align: left;
	color: #ffa500;
	padding: 10px 0 10px 10px;
}